<form method="post" action="/create-intake">
    <input type="text" placeholder="Intake Name" name="name">
    <input type="number" placeholder="Month Number" name="month_number">
    <input type="text" placeholder="Month Name" name="month_name">
    <input type="submit" value="CREATE INTAKE">
</form>