
<h3>Create Office</h3>

<form method="post" action="/create-office">
  <input type="text" name="name" placeholder="Office Name">
  <textarea name="description"></textarea>

  <input type="submit" value="CREATE OFFICE">
</form>