<h1>Start Election For <%= @office.name %> Office</h1>


<form method="post">
    <input type="text" name="name" placeholder="Name Of Election"><br>
    <input type="submit" value="CREATE ELECTION">
</form>