        <form method="POST" action="/sign-up">

            <label for="sign-up-national-id">National ID</label><br>
            <input type="text" placeholder="National ID" name="national_id"><br>

            <label for="sign-up-first-name">First Name</label><br>
            <input type="text" placeholder="First Name" name="first_name"><br>

            <label for="sign-up-last-name">Last Name</label><br>
            <input type="text" placeholder="Last Name" name="last_name"><br>

            <label for="sign-up-password">Password</label><br>
            <input type="password" placeholder="Password" name="password"><br>

            <label for="formGroupExampleInput2">Confirm Password</label><br>
            <input type="password" placeholder="Confirm Password" name="confirm_password"><br>

          <input type="submit" value="SIGN UP"><br>

        </form>
