<h3>Login</h3>

<form method="post" action="/user-login">
    <input type="text" name="national_id" placeholder="National ID"> <br>
    <input type="password" name="password" placeholder="Password"> <br>
    <input type="submit" value="LOGIN">
</form>