<h2>Offices</h2>
<p><a href="/create-office">Create Office</a></p>

<% @offices.each_with_index do |office, index| %>
  <u><h4><%= index + 1 %>. <%= office.name %></h4></u>
  <% if office.description.present? %>
    <p>
      <%= office.description %>  
    </p>
  <% end %>

  <p><a href="offices/<%= office.id %>">View Office</a></p>
  <p><a href="">Delete Office</a></p>
  <hr>
<% end %>
